* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 2%;
}

header h1 {
    color: white;
    margin-left: 15%;
    margin-top: 2%;
}

header a {
    color: white;
    padding-left: 15px;
    text-decoration-line: none;
    font-size: 14px;

}

.home {
    color: #4AB5E3;
    border: solid 2px #4AB5E3;
    padding: 2px 12px 3px 12px;
}

.referencias {
    margin-left: 40%;
    margin-top: 2%;
    font-weight: 600;
}

.primero {
    background-image: url(../assets/Fondo.png);

}

.section1 {
    text-align: center;
    padding: 14.5%;
}

.textos {
    font-weight: 100;
    font-size: 40px;
}

.textos {
    display: grid;
    height: 81%;
    width: auto;
    place-items: center;
    place-content: center;
    gap: 22px;

}

.textos h1 {
    font-size: 2.7rem;
    color: white;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 1rem;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30vh;
    background-color: #4BCAFF;
    justify-content: center;
    color: white;
    padding: 3% 15%;
    gap: 39px;
}

.grid1 h1 {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 25px;
    font-weight: 500;
}

.grid1 p {
    font-size: 14px;
}

.cell {
    margin: 10px;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 30px;

}


.unoo {
    background-image: url(../assets/photo01.png);
    background-size: cover;
}

.doss {
    background-image: url(../assets/photo02.png);
    background-size: cover;
}

.tress {
    background-image: url(../assets/photo03.png);
    background-size: cover;
}

.cuatroo {
    background-image: url(../assets/photo04.png);
    background-size: cover;
}

.cincoo {
    background-image: url(../assets/photo05.png);
    background-size: cover;
}

.seiss {
    background-image: url(../assets/photo06.png);
    background-size: cover;
}

.sietee {
    background-image: url(../assets/photo07.png);
    background-size: cover;
}

.ochoo {
    background-image: url(../assets/photo08.png);
    background-size: cover;
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 35vh;
    gap: 212px;
}


.grid4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 41vh;
    /* margin: 10px; */
}


.section2 {
    padding: 4% 15%;
}

.portfolio {
    display: flex;
    justify-content: space-between;

}

.portfolio h1 {
    color: #515F67;
    font-weight: 100;
}

.linea {
    background-color: grey;
    width: 5vh;
    height: 3px;
    margin-bottom: 70px;
}


.referencias2 {
    font-weight: 600;
}


.referencias2 a {
    color: #515F67;
    padding-left: 13px;
    text-decoration-line: none;
    font-size: 13px;
}

.all {
    color: #4AB5E3 !important;
    border: solid 2px #4AB5E3;
    padding: 2px 12px 3px 12px;
}

.section3 {
    background-color: #515F67;
    color: white;
    padding: 3% 15%;
}

.linea2 {
    background-color: white;
    width: 5vh;
    height: 2px;
}

.grid3 h1 {
    font-weight: 100;
    font-size: 30px;
}

.grid3 p {
    padding-top: 30px;
    font-weight: 100;
    font-size: 14px;
}

.buttonVisit {
    padding-top: 7%;
}

.visit {
    color: #353F46;
    padding: 10px 40px 10px 40px;
    border: 2px solid #353F46;
    background-color: transparent;
    font-weight: 700;
}

.section4 {
    background-color: #4BCAFF;
    color: white;
    padding: 3% 15%;
}

.tw {
    display: flex;
    justify-content: space-between;
}

.tw h1 {
    font-weight: 100;
    font-size: 30px;
}

.tw img {
    margin: 10px;
}

.linea3 {
    background-color: white;
    width: 5vh;
    height: 2px;
}


.section4 p {
    line-height: 45px;
    font-size: 25px;
    font-weight: 100;
    padding-top: 2%;
}

.section5 {
    background-image: url(../assets/bg_whoIs.png);
    color: white;
    padding: 3% 15%;
}

.linea4 {
    background-color: white;
    width: 5vh;
    height: 2px;
}

.once h1 {
    font-weight: 100;
    font-size: 30px;
}

.once p {
    font-weight: 100;
    font-size: 14px;
    padding-top: 30px;
    width: 57vh;
}

.doce {
    font-weight: 100;
    font-size: 14px;
}


.imgs1 {
    padding-left: 15px;
}

.doce p {
    padding-bottom: 30px;
}

.section6 {
    padding: 3% 15%;
}

.section6 p {
    line-height: 45px;
    font-size: 25px;
    font-weight: 100;
    padding-top: 2%;
    color: #515F67;

}

.testimonials {
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
}

.comillas {
    margin: 10px;
}

.testimonials h1 {
    font-weight: 100;
    font-size: 30px;
    color: #515F67;
}

.walter {
    color: #4BCAFF !important;
    font-weight: 500 !important;
    font-size: 15px !important;
}

.linea5 {
    background-color: #515F67;
    width: 5vh;
    height: 2px;
}

.section7 {
    background-image: url(../assets/bg_contact.png);
    color: white;
    padding: 3% 15%;
}

.contact {
    display: flex;
    padding-bottom: 3%;
}

.contact h1 {
    font-weight: 100;
    font-size: 30px;
}

.linea6 {
    background-color: white;
    width: 5vh;
    height: 2px;
}

.grid5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 1px solid red; */
    gap: 30px;
}

.Con {
    /* border: 1px, solid red; */
}

.Con p {
    font-weight: 700;
    font-size: 14px;
}

.full {
    grid-column: 1/2;
    grid-row: 1/2;
}

.full input {
    width: 80%;
    height: 6vh;
    background-color: transparent;
    border: 2px solid white;

}

.EMAIL input {
    width: 80%;
    height: 6vh;
    background-color: transparent;
    border: 2px solid white;

}

.EMAIL {
    grid-column: 1/2;
    grid-row: 2/3;
}

label {
    font-weight: 700;
    font-size: 14px;
}

textarea {
    width: 100%;
    height: 25vh;
    background-color: transparent;
    border: 2px solid white;

}

.textForm2 {
    list-style: none;
}

.buttonFin {
    padding-top: 2%;
}

.messButton {
    background-color: #4BCAFF;
    color: white;
    border: none;
    width: 27%;
    height: 6vh;
    font-size: 15px;
    font-weight: 500;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(53, 63, 71);
    color: gray;
    padding: 3% 15%;
}

.foot {
    display: flex;
    justify-content: space-between;
}

.foot h5 {
    font-size: 12px;
    font-weight: 400;
}

.foot span {
    margin: 0px 10px;
}

footer p {
    font-size: 12px;
    /* font-weight: 400; */
}

/* INICIO RESPONSIVE 1279 */

@media (max-width: 1279px) {
    header {
        padding: 3% 15%;
    }

    header h1 {
        margin-left: 0%;
    }

    .referencias {
        margin-left: 20%;
    }

    .textos {
        gap: 15px;
    }

    .textos h1 {
        font-size: 1.7rem;
    }

    .grid1 {
        padding: 3% 15%;
    }

    .grid1 p {
        font-size: 12px;
    }

    .grid1 h1 {
        font-size: 23px;
    }

    .section2 {
        padding: 4% 15%;
    }

    .grid2 {
        grid-template-rows: repeat(2, 138px);
    }

    .cell {
        margin: 0px;
    }

    .section3 {
        padding: 7% 15%;
    }

    .section3 img {
        zoom: 0.6;
        padding-top: 20%;
    }

    .grid3 {
        gap: 30px;
    }

    .grid3 h1 {
        font-size: 25px;
    }

    .grid3 p {
        width: 40vh;
    }

    .section4 {
        padding: 3% 15%;
    }

    .tw h1 {
        font-size: 25px;
    }

    .section4 p {
        font-size: 16px;
    }

    .section5 {
        padding: 3% 15%;
        background-size: cover;
        background-position: center;
    }

    .imgs1 {
    padding-left: 11px;
}

    .once p {
        width: 40vh;
    }

    .doce {
        padding-top: 70px;
    }

    .section6 {
        padding: 3% 15%;
    }

    .testimonials h1 {
        font-size: 26px;
    }

    .section6 p {
        font-size: 18px;
    }

    .section7 {
        padding: 3% 15%;
    }

    .contact h1 {
        font-size: 25px;
    }

    .Con {
        font-size: 13px;
    }

    .Con p {
        font-weight: 600;
        font-size: 12px;
    }

    .messButton {
        width: 35%;
        font-size: 13px;
    }

    footer {
        padding: 3% 15%;

    }

    .foot h5 {
        font-size: 10px;
    }

    footer p {
        font-size: 10px;
    }
}

/* FIN RESPONSIVE 1279 */


/* INICIO RESPONSIVE 920 */

@media (max-width: 920px) {

        header h1 {
        font-size: 20px;
    }

    header a {
    font-size: 11px;
}

    .section3 {
        padding: 7% 10%;
    }

    .grid3 p {
        width: 30vh;
        font-size: 12px;
    }
}

/* FIN RESPONSIVE 920 */